.performance-wrap {
  width: 1000px;
  padding: 20px;
}

.performance-head {
  line-height: 30px;
}

.performance-head-title {
  font-size: 14px;
  width: 150px;
  display: inline-block;
  font-weight: bold;
}

.performance-head-text {
  font-size: 14px;
  font-weight: bold;
  float: right;
}

.performance-item {
  width: 100%;
  line-height: 30px;
}

.performance-title {
  display: inline-block;
  width: 100px;
  font-size: 14px;
}

.performance-time {
  float: right;
}

.performance-line {
  display: inline-block;
  height: 14px;
  vertical-align: middle;
  background: #fff;
  max-width: 300px;
}

.performance-color-redirect {
  background-color: blue;
}

.performance-color-appcache {
  background-color: green;
}

.performance-color-dns {
  background-color: yellow;
}

.performance-color-tcp {
  background-color: darkblue;
}

.performance-color-request {
  background-color: darkviolet;
}

.performance-color-response {
  background-color: lightseagreen;
}

.performance-color-blockingTime{
  background-color: red;
}

.performance-color-ssl{
  background-color: brown;
}